<div class="list-group">
  <div class="list-group-item">
    <div class="input-group">
      <span class="input-group-addon" id="desc-addon1">Description</span>
      <input type="text" model-property="description" class="form-control" aria-describedby="desc-addon1" value="<%= description %>">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="date-addon1">Date</span>
      <input type="text" model-property="date" class="form-control datepicker" aria-describedby="date-addon1" value="<%= date %>">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="amount-addon1">Amount</span>
      <input type="text" model-property="amount" class="form-control" aria-describedby="amount-addon1" value="<%= amount %>">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="currency-addon1">Currency</span>
      <input type="text" model-property="currency" maxlength="3" class="form-control" aria-describedby="currency-addon1" value="<%= currency %>">
    </div>
  </div>
</div>
<div>
  <button type="button" class="btnsave btn btn-default btn">
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Save
  </button>
  <a href="#">
    <button type="button" class="btn btn-default btn">
      <span class="back glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel
    </button>
  </a>
</div>